.dashbordContainer{
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100vw;
    font-family: Roboto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
}

.dashbordContainer >div{
    border-radius: 1em;
}

.first{
  
  background-color: #5746EA;
  padding: 1em;
  height: 13em;
}

.second{
   grid-row: span 2;
   height: 23.7em;

}
.third{
   grid-row: span 3;
}

.fourth{
   
    grid-column: span 2;
    height: 10em;
    
}

.fifth{
    grid-row-start: 2;
    background-color: #101744;
        height: 9em;
}
