@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    font-family: Roboto;

}

body{
    
    background-color: #8CC461;
    width: 100%;
    
    overflow: hidden;
}

.header-container{
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    gap: 14em;
    justify-content: space-between;
    border: 2px solid #fff;
    width: 50em;
    border-radius:0.8rem;
    padding: 1rem;
    color:#fff ;
    margin-top: 2rem;
    

}

header > h1{
    width: 4em;
    letter-spacing: 0.5rem;
}
.score-header{
    display: flex;
    gap: 1em;
    color: #656565;
    
     
}
.score-header div{
   width: 11em;
    background-color: #fff;
    text-align: center;
    border-radius: 0.5em;
}

.score-header div p{
    
    font-size: 2.2rem;
    font-weight: 800;
    color: #000000;
}


/* Main container */


.oneeighty{
    background-color: #000000;
    height: 0.5rem;
    width: 10rem;
    margin-top:8%;
    border: none;
    margin: 12% 0% 0% -13%;
    

}

.oneTwenty {
    background-color: #000000;
    height: 0.5rem;
    width: 11.5rem;
    margin-top: 15%;
    border: none;
    rotate: 60deg;
    position: relative;
    top: -2.2rem;
    left: 6rem;
    z-index: -1;

}

.seventy{
    background-color: #000000;
        height: 0.5rem;
        width: 10.7rem;
        /* margin-top: 1%; */
        border: none;
        rotate: 120deg;
        position: relative;
        top: -14rem;
        left: 17rem;
        z-index: -1;
       
}

main{

    margin-top: 1%;
    display: flex;
    justify-content: center;

}

.rock-scissors-container{
    display: flex;
    justify-content: center;
    
   


}


.scissors-container{
    margin-left: -0.8rem;
}
.paper-container{
    display:flex;
    justify-content: center;
   
}

.icon-btn{
    background: transparent;
    border: none;
    cursor: pointer;

}

.iconPng{
    position: relative;
    width: 20%;
    
}

.firstPng,.secondPng,.thirdPng{
    top:-4rem ;
    right: 45%;  
}




/* Rule button */
.rule-btn{
    cursor: pointer;
    padding: 0.5em 2em;
    border:2px solid #fff;
    background: transparent;
    border-radius: 0.2rem;
    color: #fff;
    font-size: 0.9rem;
    position: fixed;
    top: 35rem;
    right: 15%;
    letter-spacing: 0.3rem;

}
/* NEXT BUTTON */
.next-btn{
    right: 2%;
}

.rule-container{
    background-color: #004429;;
    max-width: 17em;
    padding: 0.5em 1.5em;
    border: 0.4em solid #fff;
    position: absolute;
    z-index: 5;
    top: 13rem;
    right:2%;
    border-radius: 1em;
    color: #fff;
   
}

.rule-container ul{
    margin-top: -3rem;
    list-style-type: none;
    
}

 ul li::before {
     content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin-right: -10px;
    position: relative;
    right: 1rem;
 }

.rule-container > h1{
    text-align: center;
}

.cross-btn{
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    left: 89%;
    top: -4rem; 
    
}
.cross-btn >span{
    color: #fff;
    font-size: 2rem;
    position: relative;
    top: -0.5rem;
    left: 1.9rem;
    
}

.result-container{
    margin-top: 2em;
    display: flex;
    color: #fff;

}
 
.user-picked-container{
    text-align: center;
    width: 18em;
        height: 18em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-top: 2em; */


} 
.msg-container h1,h4{
    margin-bottom: 4px;
}
.pc-picked-container {
    text-align: center;
    width: 18em;
        height: 18em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}


.user-picked-images img:last-child{
      position: relative;
      width: 3em;
    right: -0.3em;
        top: -7em;

}
.replay-btn{
    cursor: pointer;
    border: none;
    background-color: #fff;
    padding: 1em 2em;
    border-radius: 5px;
    color: #6B6B6B;
    font-weight: 600;
    width: 10em;
}

.msg-container{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        letter-spacing: 3px;
    
}


.pc-picked-images img:last-child {
    position: relative;
    width: 3em;
        right: -0.3em;
            top: -7em;

} 

.user-picked-images{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    
}
.user-picked-images img:first-child{
       width: 10em;
}
.pc-picked-images img:first-child{
    width: 10em;
}

.pc-picked-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


 #animation{
    background-color: #2E9A2563;
   
   
    border-radius: 50%; 

}
#animation h3{
    margin-top: -2em;
    margin-bottom: 1em;
    z-index: 4;
}
 #animation div{
    padding-top: 3.5em;
    height: 14em;
    width: 14em;
    background-color: #289A27;
    box-shadow: 0em 0em 1em 1em #32A62F ;
    border-radius: 50%;
 }


.msg-container{
    text-align: center;
}  




@media screen and (max-width:1000px) {
    header{
        font-size: 0.5rem;
    }
    header .score-header div p{
        font-size: 0.5rem;
    }
    .iconPng {
        position: relative;
        width: 15%;
        top: -1rem;
        right: 2.2rem;

    }
    .oneeighty {
        margin: 4% -8% 0% 0%;
        height: 0.2rem;
        width: 8rem;
    }

        .oneTwenty {
            margin: 2% -3% 0% 0%;
            height: 0.2rem;
            width: 6rem;
            top: 1rem;
            left: 12rem;
            rotate: 53deg;
        }

        
    
        .seventy {
            margin: 2% -3% 0% 0%;
            height: 0.2rem;
            width: 6rem;
            position: relative;
            top: -5rem;
            rotate: 122deg;
            left: 16rem;
        }

    .rockSvg,
    .scissorsSvg,
    .paperSvg {
        width: 40%;
    }

    .rock-container,
    .scissors-container {
        width: 20%;

    }
    .paper{

        width: 20%;
    }
    

    .rock-container {
        margin-right: -9%;
        
        
    }
    .paper-container{
        margin-top: 2rem;
    }
    .rule-container{
        font-size: 0.5rem;
        top: 9rem;
        right:10%;
        max-width:25% ;
    }
        .rule-container>h1 {
            font-size: 0.5rem;
        }
    .rule-btn{
        font-size: 0.5rem;
        top: 19rem;
        right: 20%;
        padding: 0.2em 0.7em;
    }
        .rule-container ul {
            margin-top: -1rem;
            list-style-type: none;
    
        }

    ul li::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: #fff;
        margin-right: -6px;
        position: relative;
        right: 0.6rem;
    }

        .cross-btn {
            cursor: pointer;
            background: transparent;
            border: none;
            position: relative;
            
            left: 91%;
            top: -1.7rem;
    
        }

        .cross-btn img{
            width: 40%;
        }

        .cross-btn span{
            font-size: small;
            top: -0.4rem;
                left: 0.8rem;

        }
    .result-container {
        /* margin-top: 2em; */
        display: flex;
        color: #fff;
        font-size: 0.4rem;

    }

    .replay-btn{
        padding: 0.5em 1em;
        width: auto;
        font-weight: 600;
        font-size: 0.5rem;
        border-radius: 0.1rem;
    }

    .next-btn{
    font-size: 0.5rem;
        top: 19rem;
        right: 10%;
        padding: 0.2em 0.7em;
    
    }



    

}

@media screen and (max-width:600px) {
    header {
        font-size: 0.3rem;
        padding: 2em;
        border-radius: 0.5rem;
        
    }
    header.score-header div  .pc-score {
    font-size: small;
    
}
    .iconPng {
        position: relative;
        width: 12%;
        top: -0.7rem;
        right: 1.3rem;

    }
    .oneeighty{
        margin: 2% -3% 0% 0%;
        height: 0.01rem;
        width: 4rem;
        z-index: -1;
    }

    .oneTwenty {
        margin: 2% -3% 0% 0%;
        height: 0.01rem;
        width: 4rem;
        top:-0.5rem;
        rotate: 55deg;

    }
        .seventy {
        margin: 2% -3% 0% 0%;
        height: 0.01rem;
        width: 4rem;
        rotate: 124deg;
        top: -3rem;
        left: 14.3rem;
    }
    
    .rockSvg,.scissorsSvg,.paperSvg{
        width: 46%;
    }
   .rock-container,.scissors-container{
    width: 13%;


   }
   .rock-container{
    margin-right: -6%;
   }
   .paper{
    width: 13%;
   }

   .paper-container {
       margin-top: 1rem;
   }
   .rule-container>h1 {
       font-size: 0.3rem;
   }
   .rule-container{
    font-size: 0.3rem;
    top: 7rem;
    max-width: 23%;
   }
   .rule-btn {
       border-width: 0.5px;
       border-radius: 2px;
       font-size: 0.2rem;
       top: 13rem;
       right: 28%;
        padding: 0.2em 0.1em 0.2em 1.3em;
   }
   .rule-container ul {
       margin-top: -1rem;
      

   }
    ul li::before {
        content: "";
        display: inline-block;
        width: 2px;
        height: 2px;
        background-color: #fff;
        margin-right: -2px;
        position: relative;
        right: 0.2rem;
    }
    .cross-btn{
        top: -1rem;
        left: 80%;
    }
         .cross-btn img {
             width: 30%;
         }
    
         .cross-btn span {
             font-size: x-small;
             top: -0.2rem;
             left: 0.6rem;
    
         }
 .rule-container {
     
     
     right: 15%;
     
 }
 .result-container{
    font-size: 0.2rem;
 }
 .replay-btn {
     padding: 0.3em 0.7em;
     width: auto;
     font-weight: 600;
     font-size: 0.3rem;
 }

 .next-btn {
   right: 18%;

 }

 .msg-container h2,h4{
    letter-spacing: 1px;
 }
 
    
}

@media screen and (max-width:425px) {
    .iconPng {
            position: relative;
            width: 15%;
            top: -0.5rem;
            right: 1rem;
    
        }
        .cross-btn {
            top: -1rem;
            left: 76%;
        }

        
}


@media screen and (max-width:500px) {
    .oneTwenty {
        margin: 2% -3% 0% 0%;
            height: 0.01rem;
            width: 4rem;
            top: 0%;
            rotate: 55deg;
            left: 37.5%;
    }
    .seventy{
        left: 45%;
    }


}

@media screen and (max-width:375px) {
    .oneTwenty {
        margin: 2% -3% 0% 0%;
        height: 0.01rem;
        width: 3.5rem;
        top: 1%;
        rotate: 55deg;
        left: 35%;
    }

    .seventy {
        top: -2.5rem;
        left: 45%;
        width: 3.5rem;
    }


}
