:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background: #D9D9D9;
}

.card-from-container{
  height: 100vh;
  display: flex;
  gap: 20em;
  
  
}

.gradient-bg-container{
  position: absolute;
  
}

.front-card{
  background: url("./assets/cardFront.png");
  height: 240px;
  width: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  color: #fff;
  padding: 1em 2.6em;
 
}

.back-card{
  background: url("./assets/cardRear.png");
    height: 300px;
    width: 610px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    

}

.card-container{
  position: relative;
  left: 8em;
  top: 5em;
}

.ellipse1,.ellipse2{
  position: relative;
  
}

.ellipse2{
  top:-0.7em;
  margin-left: 8px;
}

.card-number{
      letter-spacing: 6px;
        font-size: 24px;

}
.card-detal{
  position: relative;
  /* left: 2em; */
  top: 2em;

}
.card-detal ul{
  margin-top: 3em;
  list-style: none;
     display: flex;
     gap: 12em;
}




/* rearCardStyle */

.back-card img:first-child{
      position: relative;
        height: 3.2em;
        width: 30em;
        top: 3em;
        left: 3.4em;
        opacity: 0.8;

}
.back-card img:nth-child(2){
  position: relative;
    height: 2.5em;
    width: 23em;
    top: 6em;
    left: 7em;

}
.back-card p{
  position: relative;
    left: 26em;
    top: 3.8em;
  
}



/* From Section */